/* CodeMirror overrides */

.CodeMirror-scroll {
  height: 40em;
}
.CodeMirror {
  border: 1px solid #aaa
}

/* Bootstrap overrides */

.modal.fade {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
div.alert {
  background-color: #df5d5c;
}
div.span2 {
  margin-left: 1em;
}

/* misc */

.form-section {
  margin-top: 1em;
}
.btn.submit {
  margin-right: 1em;
}

#preview-modal {
    width: 60%;
    height: 80%;
    margin: 0;
    top: 10%;
    left: 20%;
}

#preview {
    position: absolute;
    height: auto;
    max-height: 95%;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
