---
name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [8]
      max-parallel: 4
    name: Test JDK ${{ matrix.java_version }}
    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.10.0
        with:
          checkout-fetch-depth: 0
          java-version: ${{ matrix.java_version }}
          java-distribution: temurin
          maven-version: 3.8.7
      - name: Verify with Maven
        run: mvn verify -B
