name: "Validate Gradle Wrapper"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  validation:
    name: "Validation Android"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jsonschema2pojo-gradle-plugin/example/android
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
